[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Marko Krznar (marko-krznar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Marko Krznar (marko-krznar)
	label-Verified = -1..+1 group user/Marko Krznar (marko-krznar)
	push = group user/Marko Krznar (marko-krznar)
	read = group user/Marko Krznar (marko-krznar)
	rebase = group user/Marko Krznar (marko-krznar)
	removeReviewer = group user/Marko Krznar (marko-krznar)
	submit = group user/Marko Krznar (marko-krznar)
[access "refs/heads/*"]
	create = group user/Marko Krznar (marko-krznar)
	push = +force group user/Marko Krznar (marko-krznar)
	pushMerge = group user/Marko Krznar (marko-krznar)
	read = group user/Marko Krznar (marko-krznar)
[access "refs/tags/*"]
	push = group user/Marko Krznar (marko-krznar)
	push = +force group user/Marko Krznar (marko-krznar)
[project]
	state = hidden
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
