.menu {
  border-right: 2px solid rgb(255 255 255 / 10%);
  margin: 0 2rem 0 0;
  padding-right: 2rem;
  height: calc(100vh - 2rem);
  h1 {
    margin-bottom: 2rem;
  }
  a {
    margin-bottom: 1rem;
    i {
      margin-right: 0.25em;
    }
  }
}
