.menu {
  border-right: 2px solid rgb(255 255 255 / 10%);
  margin: 0 2rem 0 0;
  padding-right: 2rem;
  height: calc(100vh - 2rem);
  h1 {
    margin-bottom: 2rem;
  }
  a {
    margin-bottom: 1rem;
    i {
      margin-right: 0.25em;
    }
    &:hover {
      span {
        color: #424242;
      }
    }
  }
}
@media (max-width: 1200px) {
  .menu {
    border-right: none;
    margin: 0 0 4rem;
    height: auto;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 0;
    h1 {
      margin-bottom: 0;
    }
    nav {
      flex-direction: row;
      a {
        margin: 0 1rem 0 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .menu {
    flex-direction: column;
    h1 {
      margin-bottom: 2rem;
    }
    nav {
      a {
        padding: 1rem 1.5rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .menu {
    a {
      i {
        margin-right: 0;
        font-size: 1.25rem;
      }
      span {
        display: none;
      }
    }
  }
}
