$alignments: (
  between: space-between,
  end: flex-end,
  start: flex-start,
  center: center,
  around: space-around,
  evenly: space-evenly,
);

.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

html * {
  box-sizing: border-box;
}

@each $key, $value in $alignments {
  .justify-content-#{$key} {
    justify-content: $value;
  }
  .align-items-#{$key} {
    align-items: $value;
  }
}

body {
  background: #212121;
  padding: 1rem 2rem;
}

.page {
  background: #2a2929;
  flex: 1 1;
  padding: 3rem;
  border-radius: 2rem;
  max-width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;
  border-radius: 2rem;
  overflow: hidden;
  thead {
    background: #555454;
  }
  th,
  td {
    padding: 1rem;
    text-align: left;
  }
  th {
    padding: 1.75rem 1rem;
  }
  tr {
    td {
      border-bottom: 1px solid #aaa9a9;
      &.td--delete,
      &.td--edit {
        text-align: right;
      }
    }
    &:nth-child(even) {
      background-color: rgba(252, 251, 251, 0.05);
    }
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}

.block--form-add {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  p {
    margin-bottom: 0;
  }
}

.block--form {
  margin-top: 2rem;
  label {
    margin-bottom: 1rem;
  }
  input {
    margin-bottom: 2rem;
  }
}

select {
  background: transparent;
  border: 1px solid #fff;
  padding: 0.5em;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
@media (max-width: 768px) {
  form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    > * {
      flex: 1 1;
      margin-bottom: 1rem;
    }
  }
  .block--table {
    overflow-x: scroll;
    white-space: nowrap;
  }
}
@media (max-width: 576px) {
  body {
    padding: 1rem;
  }
  .page {
    padding: 2rem;
  }
}
